<!DOCTYPE html>
<html>
	<head>
		<title>Departments</title>
		<style>
			table {
				width: 60%;
				border-collapse: collapse;
				margin: 20px auto;
			}
			th,
			td {
				border: 1px solid #888;
				padding: 10px;
				text-align: left;
			}
			th {
				background-color: #eee;
			}
		</style>
	</head>
	<body>
		<h1>Departments</h1>

		<p>Thank you for visiting our hospital management system.</p>
		<p>Return to <a href="{% url 'index' %}">Home</a></p>
		<h2 style="text-align: center">Departments List</h2>
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>

			{% for dept in data %}
			<tr>
				<td>{{ dept.dept_name }}</td>
				<td>{{ dept.description }}</td>
			</tr>

			{% empty %}
			<tr></tr>
			{% endfor %}
		</table>
	</body>
</html>
